* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  padding-inline: 3rem;
  display: grid;
  align-content: center;
  gap: 5rem;
}

h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  opacity: 0.3;
}
